# Docker (optional) - set to pull a pre-built image instead of building locally
IMAGE=ghcr.io/nekocyan/discord-daily-checkin:latest

# System
LOG_LEVEL=info # debug / info

# Discord
DISCORD_TOKEN=

# MongoDB
MONGODB_URI=mongodb://mongo:27017 # mongodb+srv://<username>:<password>@cluster0.mongodb.net
MONGODB_NAME=DiscordDailyCheckin

# Batch check-in options
BATCH_SIZE=10 # Optional batch of users size to do check-in, default to 10
DELAY_PER_BATCH_MS=0 # Optional delay between batches in milliseconds, default to 0ms (no delay)
CONCURRENCY=1 # Optional number of concurrent batches, default to 1 (no concurrency)
