# Docker (optional) - set to pull a pre-built image instead of building locally
IMAGE=ghcr.io/nekocyan/discord-daily-checkin:latest

# Discord
DISCORD_TOKEN=

# MongoDB
MONGODB_URI=mongodb://mongo:27017 # mongodb+srv://<username>:<password>@cluster0.mongodb.net
MONGODB_NAME=DiscordDailyCheckin

# System
LOG_LEVEL= # debug / info